body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
        "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

.App-header {
    background-color: #ffffff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: rgb(57, 10, 10);
}



.heart {
    color: #ff0000;
}

.small {
    font-size: 0.75rem;
}


/* menu, navnebar */

.navebar a {
    display: block;
    color: #714a4a;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bold;
}

/* Hover effekt */
.navebar a:hover {
    color: #311414;          
}

.navebar li {
    flex: 1;
}

.navebar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}
