<html>
<head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>

    <bar class="navebar">
            <ul>
                <li><a href="{{ url_for('forside') }}">Forside</a></li>
                <li><a href="{{ url_for('login_profil') }}">Profil</a></li>
            </ul>
    </bar>

    <div class="App">
        <header class="App-header">
            <p>
                Her kan du se dine farvoitter og noter til malerier
            </p>
    </div>
</body>

</html>

