<html>
<head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="icon" href="{{ url_for('static', filename='appel_logo.png') }}" type="png">
</head>

<body>
    <nav class="navebar">
        <ul>
            <li class="left">
                <a href="{{ url_for('søgeside') }}">
                    <i class="fas fa-search"></i> &nbsp; Søg
                </a>
            </li>
            <div class="right">
                <li><a href="{{ url_for('login') }}"><i class="fas fa-user"></i></a></li>
                <span class="divider"></span>
                <li><a href="{{ url_for('docs') }}"><i class="fas fa-book"></i></a></li>
            </div>
        </ul>
    </nav>

    <main class="homepage">
        <section class="welcome-section">
            {% if session.username %}
                <h1 class="daily-title"> Hej <i>{{ session.username }}</i> velkommen</h1>
                <p class="intro">Velkommen tilbage til <strong>Æbels-Kunstgalleri</strong>, dit digitale galleri.<br>
                Her kan du udforske klassiske og moderne mesterværker.</p>
            {% else %}
                <h1 class="daily-title">Velkommen til <strong>Æbels-Kunstgalleri</strong> </h1>
                <p class="intro">Opret en profil for at gemme dine yndlingsværker og skabe dit eget galleri.</p>
            {% endif %}
            <p class="under-construction"> Denne hjemmeside er stadig under opbygning, vi arbejder på at udvide vores samling løbende!</p>

            <br><br>

            <h2 class="daily-title">Dagens maleri:</h2>
            <div class="daily-art">
                {% if dagens_maleri['image'] %}
                    <img src="{{ url_for('static', filename='images/' + dagens_maleri.image) }}" alt="{{ dagens_maleri.painting }}">
                {% endif %}
                <div class="daily-art-info">
                    <h3>{{ dagens_maleri.painting }}</h3>
                    <p><strong>Kunstner:</strong> {{ dagens_maleri.artist }}</p>
                    <p><strong>Genre:</strong> {{ dagens_maleri.genre }}</p>
                    <p class="description">{{ dagens_maleri.beskrivelse }}</p>
                </div>
            </div>
    </main>
</body>
</html>


