<html>
<head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>
<body>   

    <nav class="navebar">
        <ul>
            <li class="left">
                <a href="{{ url_for('forside') }}">
                    <i class="fas fa-arrow-left"></i>
                </a>
            </li>

            <div class="right">
                <li>
                    <a href="{{ url_for('farvoritter') }}">
                        <i class="fas fa-heart"></i>
                    </a>
                </li>
            </div>
        </ul>
    </nav>

    <div class="App">
        <header class="App-header">
            <p>
                Husk at logge in eller opret en profil ദ്ദി(˵ •̀ ᴗ - ˵ ) ✧
            </p>
        </header>



    </div>
</body>

</html>

