<html lang="da">
<head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="icon" href="{{ url_for('static', filename='appel_logo.png') }}" type="png">
</head>
<body>
    <nav class="navebar">
        <ul>
            <li class="left">
                <a href="{{ url_for('forside') }}">
                    <i class="fas fa-arrow-left"></i>
                </a>
            </li>
        </ul>
    </nav>

    <div class="login-container">

        {% if already_logged_in %}
            <h2>Hej {{ username }}, du er allerede logget ind.</h2>
            <a href="{{ url_for('logout') }}" class="btn-logout">Log ud</a>

        {% else %}
            {% if fejl %}
                <div class="error-msg">{{ fejl }}</div>
            {% endif %}
            
            <form method="post" class="login-form" id="login-form">
                <input type="hidden" name="form_type" value="login">
                <h3 class="daily-title-1"> Login her hvis du har en profil</h3>
                <input type="text" name="username" placeholder="Brugernavn" required>
                <input type="password" name="password" placeholder="Kodeord" required>
                <button type="submit">Login</button>
            </form>

            <p class="signup-link">Har du ikke en konto? <span id="show-signup">Opret</span></p>

            <form method="post" class="signup-form" id="signup-form" style="display:none;">
                <input type="hidden" name="form_type" value="signup">
                <h3 class="daily-title-1"> Opret profil her:</h3>
                <input type="text" name="username" placeholder="Brugernavn" required>
                <input type="password" name="password" placeholder="Kodeord" required>
                <button type="submit">Opret</button>
            </form>
        {% endif %}
    </div>

    <script>
        document.getElementById("show-signup").addEventListener("click", function() {
            document.getElementById("login-form").style.display = "none";
            this.parentElement.style.display = "none";
            document.getElementById("signup-form").style.display = "block";
        });
    </script>
</body>
</html>
