<html>
<head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>

    <bar class="navebar">
            <ul>
                <li><a href="{{ url_for('login_profil') }}">Profil</a></li>
                <li><a href="{{ url_for('forside') }}">Forside</a></li>
            </ul>
    </bar>

    <div class="App">
        <header class="App-header">
            <p>Det her er søging</p>

            <!-- Søgeformular -->
            <form method="post" action="">
                <input type="text" name="search_term" placeholder="Search..." required>
                <button type="submit">Search</button>
            </form>

            <!-- Resultater -->
            <h2>Søgeresultater</h2>
            {% if not resultater %}
                <p>Ingen resultater fundet.</p>
            {% else %}
                <ul>
                    {% for r in resultater %}
                        <li>{{ r.gene_name }} ({{ r.gene_family }}) - {{ r.description }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </header>
    </div>
</body>
</html>
